<div class="my-modal-overlay">
  <div class="my-modal">
    <h2>{{@title}}</h2>
    <p>{{@message}}</p>
    <button class="create-btn " {{on "click" this.confirm}}>Confirm</button>
    <button class="delete-btn" {{on "click" this.cancel}}>Cancel</button>
  </div>
</div>