{{!-- IN the template file, we can get those argument by using @title or @message --}}
{{!-- We cannot call a function that is passed from one component to another directly 
from the template. In Ember, we can only call functions that 
are defined in the current component's JavaScript file from the template. --}}

{{!-- If we need to call a function that is defined in a different component, 
we should pass that function as an argument to the current 
component and then call it from there.
Here we are calling this.comfirm and this.cancel. --}}

<div class="my-modal-overlay">
  <div class="my-modal">
    <h2>{{@title}}</h2>
    <p>{{@message}}</p>
    <button class="create-btn " {{on "click" this.confirm}}>Confirm</button>
    <button class="delete-btn" {{on "click" this.cancel}}>Cancel</button>
  </div>
</div>