* {
    box-sizing: border-box;
    transition: all 0.6s;
}

a {
   text-decoration: none;
}

.message {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header {
    color: rgb(49, 49, 185);;
    text-align: center;
    margin: 50px;
    margin-bottom: 30px;
}

.top-btn a, .update-btn, .delete-btn, .home-btn, .create-btn{ 
    color: white;
    background-color: rgb(25, 165, 25);
    padding: 8px;
    border-radius: 5px;
    box-shadow: black ;
}

.top-btn{
    margin: 30px 5px;
    text-align: center;
}

.update-btn{
    background-color: rgb(255, 200, 0) ;
}

.delete-btn {
    background-color: rgb(202, 43, 43);
    border: 1px solid rgb(202, 43, 43) ; 
}

.create-btn {
    border: 1px solid rgb(25, 165, 25);
}

.home-btn{
    background-color: rgba(134, 73, 255, 0.956);
}

.book-editor{
    text-align: center;
}

.top-input{
    margin: 10px;
}

.bottom-input{
    margin: 10px;
    display: inline;
}

h3{
    color: blue;
}

legend{
    font-size: large;
    font-weight: 500;
}

button:hover{
    cursor: pointer;
}

html {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}

table {
    border-collapse: collapse;
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  @media only screen and (max-width: 600px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
    
    th, td {
      display: inline-block;
      width: auto;
    }
    
    th {
      text-align: left;
    }
  }

  td:nth-last-child(-n+2) {
    border: none;
    border: none;
    background-color: white;
  }

  th:nth-last-child(-n+2) {
    border: none;
    border: none;
    background-color: white;
  }

/* Add a blur effect to the background */
.my-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
  