{{!-- When we click the BookStore we are redirected to the index route, that is in the routes/index.js file --}}

<div>
   <LinkTo @route="index"><h1 class="header">Book Store</h1></LinkTo> 
</div>

<div class="container">
    {{outlet}}
</div>