{{!-- Application.hbs template stays in every page.
In this app, the Book Store heading is in every page.--}}

{{!-- The application.hbs template in Ember serves as the starting point 
or entry point for your application, similar to the App component in React.
The application.hbs template is the top-level template that defines 
the overall layout for your entire Ember application. 
It typically includes common elements such as headers, footers, navigation bars, 
and other UI elements that are shared across multiple pages or routes in your app. --}}

<div>
   <LinkTo @route="index"><h1 class="header">Book Store</h1></LinkTo> 
   <div class="spacer"></div>
</div>

<div class="container">
    {{outlet}}
</div>

{{!-- In Ember.js, the {{outlet}} is a placeholder that allows us to 
define where child routes and their corresponding templates will
be rendered in the parent template. It is used in conjunction 
with the Ember Router to dynamically render content based on 
the current URL and route. --}}


