{{!-- Application.hbs template stays in every page.
In this app, the Book Store heading is in every page.
It can be used for defining Navbars. --}}

<div>
   <LinkTo @route="index"><h1 class="header">Book Store</h1></LinkTo> 
</div>

<div class="container">
    {{outlet}}
</div>


