{{!-- When we go to any other path which are not defined in the 
router.js file we throw the Erro 404 message. --}}

<div id="main">
    	<div class="fof">
        		<h1>Error 404</h1>
    	</div>
</div>